<h1>Text</h1>
<h2>{{section.settings.liquid-ref}} </h2>

<h1>CheckBox</h1>
{% if section.settings.liquid-checkbox==true %}
Checkbox is checked 
{% else %}
Checkbox is Not checked
{% endif %}

<h1>Number</h1>
{% if section.settings.liquid-number > 0 %}
{{section.settings.liquid-number}}
{% endif %}

<h1>RadioButton</h1>
{% if section.settings.liquid-radio == 'option-1' %}
Option 1 is selected
{% else %}
    Option 2 is selected
{% endif %}

<h1>Range</h1>
{{section.settings.liquid-range}}

<h1>Select</h1>
{{section.settings.liquid-select}}

<h1>TextArea</h1>
{{section.settings.liquid-textarea}}

{% schema %}
    {
        "name": "Liquid Refernce",
        "settings":[
            {
                "id":"liquid-ref",
                "type":"text",
                "label":"Text"

            },
            {
                "id":"liquid-checkbox",
                "type":"checkbox",
                "label":"Checkbox"
            },
            {
                "id":"liquid-number",
                "type":"number",
                "label":"Number"
            },
            {
                "id":"liquid-radio",
                "type":"radio",
                "label":"Radio",
                "options": 
                [
                 {
                    "value":"option-1",
                    "label":"Option 1"
                 },
                 {
                    "value":"option-2",
                    "label":"Option 2"
                 }
                ]
            },
            {
                "id":"liquid-range",
                "type":"range",
                "label":"Range",
                "min":3,
                "max":15,
                "step":3,
                "default":3
            },
            {
                "id":"liquid-select",
                "type":"select",
                "label":"Select",
                "options": 
                [
                 {
                    "value":"select-1",
                    "label":"Select 1"
                 },
                 {
                    "value":"select-2",
                    "label":"Select 2"
                 },
                 {
                    "value":"select-3",
                    "label":"Select 3"
                 }
                ],
               "default": "select-2"
            },
            {
                "id":"liquid-textarea",
                "type":"textarea",
                "label":"textarea"
            }
            
        ],
        "presets":[
            {
                "name":"Liquid Refernce",
                "category":"Refernce"
            }
        ]
    }
{% endschema %}